.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  float: left;
}

.App-header {
  background-color: #282c34;
  height: 60px;
  color: rgb(97,218,251);
}
.App-title{
  font-size: 1.5em;
  padding-top: 16px;
  margin: 0px;
  float: left;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
